@font-face {
    font-family: 'muktaregular';
    src: url('fonts/mukta-regular-webfont.eot');
    src: url('fonts/mukta-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/mukta-regular-webfont.woff2') format('woff2'), url('fonts/mukta-regular-webfont.woff') format('woff'), url('fonts/mukta-regular-webfont.ttf') format('truetype'), url('fonts/mukta-regular-webfont.svg#muktaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ranchoregular';
    src: url('fonts/rancho-regular-webfont.eot');
    src: url('fonts/rancho-regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/rancho-regular-webfont.woff2') format('woff2'), url('fonts/rancho-regular-webfont.woff') format('woff'), url('fonts/rancho-regular-webfont.ttf') format('truetype'), url('fonts/rancho-regular-webfont.svg#ranchoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(238, 237, 235);
}

.text-responsive {
    font-size: calc(50% + 1vw + 1vh);
}

.text-responsive-big {
    font-size: calc(150% + 1vw + 1vh);
}

.text-responsive-small {
    font-size: calc(5% + 1vw + 1vh);
}

.tekst {
    font-weight: 600;
}

html {
    scroll-behavior: smooth;
    font-family: 'muktaregular';
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}

.header {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 6em;
    margin-bottom: 3em;
    display: block;
}

.header span {
    font-size: 2em;
    border-bottom: rgb(60, 60, 207) 2px solid;
}

.tlo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    backface-visibility: hidden;
    animation: slider 30s linear infinite 0s;
    background-image: url('../img/produkt1.jpg');
    animation-timing-function: ease-in;
}

.tlo2 {
    background-color: rgba(80, 80, 80, .3);
    ;
}

::-webkit-scrollbar {
    width: 0px!important;
}

@keyframes slider {
    0% {
        background-image: url('../img/produkt1.jpg');

    }
    20% {
        background-image: url('../img/produkt2.jpg');

    }
    40% {
        background-image: url('../img/produkt3.jpg');

    }
    60% {
        background-image: url('../img/produkt4.jpg');

    }
    80% {
        background-image: url('../img/produkt5.jpg');

    }
    100%{
        background-image: url('../img/produkt1.jpg');
    }
}

.starter {
    height: 100vh;
    width: 100vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

figcaption {
    text-align: center;
    padding: 0.5em;
    margin-bottom: 0.5em;
}

.firma {
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.strzalka {
    position: absolute;
    bottom: 2rem;
    width: 2rem;
    height: 2rem;
    left: 50%;
    margin-left: -1rem;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

.sticky+.content {
    padding-top: 60px;
}

.gal {
    overflow: hidden;
    margin-top: 1em;
}

.galimg {
    transition: 0.2s;
}

.galimg:hover {
    scale: 1.5;
    transform: rotate(10deg);
    transition: 0.2s;
}

tr td {
    padding: 0.5em;
    border: 1px black solid;
    text-align: center;
}

table {
    border-collapse: collapse;
    border: 1px black solid;
    margin-left: 2em;
}

input {
    width: 100%;
    padding: 5px;
    margin: 5px;
}

textarea {
    width: 100%;
    padding: 5px;
    margin: 5px;
    height: 7em;
}

button {
    display: block;
    margin: 0.5em auto;
    padding: 0.5em 1em;
    border-radius: 0.2em;
}

.footer {
    background-color: #343a40;
    padding: 1em;
    text-align: center;
    color: #fff;
}

.nazwa {
    font-style: italic;
    font-family: 'ranchoregular';
}